<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>components</title>
    <script src="js/echarts.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/echarts-wordcloud.js"></script>
    <style type="text/css">
        html{
            height: 100%;
            margin: 0;
        }
        body{
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: rgba(24,20,50,1);
        }

    </style>
</head>
<body>
    <div id="allratingcompare", style="width: 100%; height: 100%"></div>
    <div id="allratingscatter", style="width: 100%; height: 100%"></div>
    <div id="comparebymovietype", style="width: 100%; height: 100%"></div>
    <div id="wordcloud", style="width: 100%; height: 100%"></div>

    <!-- id = "allratingcompare" -->
    <script type="text/javascript">
        // 定义图表构建函数
        function loadLocalDataAndShow(){
            // 初始化echarts实例
            var chartDom = document.getElementById('allratingcompare');
            var myChart = echarts.init(chartDom);
            var option;

            // 指定图表的配置项和数据
            option = {
                // 标题配置
                title: [{
                    top: 30,
                    text: 'DouBan & IMDB 电影评分分布抽样',
                    left:  "center",
                    textStyle: {
                        fontSize: 40,
                        color: '#FAFAD2'
                    }
                },{
                    subtext: 'DouBan 评分饼图',     // 子标题配置
                    left: '25%',
                    top: '82%',
                    textAlign: 'center',
                    subtextStyle: {
                        fontSize: 30,
                        color: '#FAFAD2'
                    }
                },{
                    subtext: 'IMDB 评分饼图',     // 子标题配置
                    left: '75%',
                    top: '82%',
                    textAlign: 'center',
                    subtextStyle: {
                        fontSize: 30,
                        color: '#FAFAD2'
                    }
                }],
                backgroundColor: "rgba(24,20,50,1)",
                textStyle: {
                    color: 'rgba(255, 255, 255, 0.9)'
                },
                tooltip: {},
                // 图例配置 -- 不显示图例
                legend: {
                    show: false,
                },
                // 图表配置 -- 饼图
                series: [
                    // 分别绘制 豆瓣 和 IMDB 的饼图
                    {
                        name: 'DouBan',
                        center: ['25%', '50%'],
                        type: 'pie',
                        radius: '50%',  // 半径
                        data: [],   // 数据初始化时为空，后续动态加载
                        // 图形样式
                        itemStyle: {
                            // 设置扇形阴影颜色
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 100, 255, 0.8)'
                        }
                    },
                    {
                        name: 'IMDB',
                        center: ['75%', '50%'],
                        type: 'pie',
                        radius: '50%',  // 半径
                        data: [],   // 数据初始化时为空，后续动态加载
                        // 图形样式
                        itemStyle: {
                            // 设置扇形阴影颜色
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 100, 255, 0.8)'
                        }
                    }
                ]
            };
            // 初始化配置项
            myChart.setOption(option);

            // 声明数据数组变量
            var doubanData = [];
            var imdbData = [];

            /*
               ajax 实现 json 数据的导入与处理
            */
            // douban json 数据导入
            $.ajax({
                type: 'get',  // 获取方法
                url: 'json/doubanscore.json',   // 路径
                dataType: 'json',    // 数据类型
                // 获取成功，对数据进行处理
                success :  function (result){
                    // 提取数组中的每一个元素的 评分、评分人数 分别存储
                    // 格式:
                    //      key: score
                    //      value: num
                    $.each(result, function (index, item){
                        if(item.douban_num != '0')
                            doubanData.push({name: item.Score, value: item.Num});
                    })
                    // console.log() 验证格式
                    // console.log(doubanData);
                    // console.log(imdbData);
                    // 隐藏加载效果，完成数据配置
                    myChart.hideLoading();
                    myChart.setOption({
                        series : [ {
                            name: 'DouBan',
                            data: doubanData,
                            // 标签配置
                            label: {
                                textStyle: {
                                    color: 'rgba(255, 255, 255, 0.9)',
                                    fontSize: 15
                                }
                            },
                            // 标签引导线配置
                            labelLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.7)'
                                }
                            },
                        },{
                            name: 'IMDB',
                            data: imdbData,
                            // 对标签重新配置
                            label: {
                                textStyle: {
                                    color: 'rgba(255, 255, 255, 0.9)',
                                    fontSize: 15
                                }
                            },
                            // 标签引导线配置
                            labelLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.7)'
                                }
                            },
                        }]
                    });
                }
            });
            // imdb json 数据导入
            $.ajax({
                type: 'get',  // 获取方法
                url: 'json/imdbscore.json',   // 路径
                dataType: 'json',    // 数据类型
                // 获取成功，对数据进行处理
                success :  function (result){
                    // 提取数组中的每一个元素的 评分、评分人数 分别存储
                    // 格式:
                    //      key: score
                    //      value: num
                    $.each(result, function (index, item){

                        if(item.imdb_num != '0')
                            imdbData.push({name: item.Score, value: item.Num});
                    })
                    // console.log() 验证格式
                    // console.log(doubanData);
                    // console.log(imdbData);
                    // 隐藏加载效果，完成数据配置
                    myChart.hideLoading();
                    myChart.setOption({
                        series : [{
                            name: 'DouBan',
                            data: doubanData,
                            // 标签配置
                            label: {
                                textStyle: {
                                    color: 'rgba(255, 255, 255, 0.9)',
                                    fontSize: 15
                                }
                            },
                            // 标签引导线配置
                            labelLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.7)'
                                }
                            },
                        },{
                            name: 'IMDB',
                            data: imdbData,
                            // 对标签重新配置
                            label: {
                                textStyle: {
                                    color: 'rgba(255, 255, 255, 0.9)',
                                    fontSize: 15
                                }
                            },
                            // 标签引导线配置
                            labelLine: {
                                lineStyle: {
                                    color: 'rgba(255, 255, 255, 0.7)'
                                }
                            },
                        }]
                    });
                }
            });
        }
        // 执行图表构建函数
        loadLocalDataAndShow();

    </script>

    <!-- id = "allratingscatter" -->
    <script type="text/javascript">
        // 定义图表构建函数
        function loadLocalDataAndShow(){
            // 初始化echarts实例
            var chartDom = document.getElementById('allratingscatter');
            var myChart = echarts.init(chartDom);
            var option;

            // 指定图表的配置项和数据
            option = {
                // 标题配置
                title: {
                    text: 'DouBan & IMDB 评分散点图',
                    top: 30,
                    left:  "center",
                    textStyle: {
                        fontSize: 40,
                        color: '#FAFAD2'
                    }
                },
                // 页面大小配置
                grid: {
                    top: 100,
                    bottom: 100,
                    left: 100,
                    right: 100
                },
                backgroundColor: "rgba(24,20,50,1)",
                textStyle: {
                    color: 'rgba(255, 255, 255, 0.9)'
                },
                color: ['#57fcd5', '#ff6060'],
                // 图例配置
                legend: {
                    show: true,
                    data: ['DouBan', 'IMDB'],
                    orient: 'vertical',
                    x:'right',
                    y:'top',
                    padding: [30, 30, 0, 0],
                    itemWidth: 40,
                    itemHeight: 20,
                    textStyle: {
                        color: "rgba(255, 255, 255, 1)",
                        fontSize: '15'
                    }
                },
                // 坐标轴配置
                xAxis: {
                    name: '评分',
                    nameLocation: 'middle',
                    nameGap: 30,
                    nameTextStyle: {
                        fontSize: 30,
                        color: '#FAFAD2'
                    },
                    type: "value",
                    scale: true,
                    // 刻度标签设置
                    axisLabel: {
                        formatter: "{value}",
                        fontSize: 15,
                    },
                    // 分隔线
                    splitLine: {
                        show: false
                    },
                    // 线条设置
                    axisLine:{
                        lineStyle: {
                            color: 'white',
                            width: 3,
                        }
                    }

                },
                yAxis: {
                    name: '排名',
                    nameLocation: 'middle',
                    nameGap: 30,
                    nameTextStyle: {
                        fontSize: 30,
                        color: '#FAFAD2'
                    },
                    type: "value",
                    scale: true,
                    axisLabel: {
                        formatter: "{value}",
                        fontSize: 15,
                    },
                    // splitLine: {
                    //     show: false
                    // },
                    axisLine:{
                        lineStyle: {
                            color: 'white',
                            width: 3,
                        }
                    }
                },
                // 提示框组件配置
                tooltip: {
                    position: 'top',
                    // 自定义提示文本格式
                    formatter: function(imdbData){
                        return imdbData.name + ": ["+ imdbData.value +  "]";
                    },
                },
                // 图表配置 -- 散点图
                series: [
                    // 豆瓣电影数据
                    {
                        name: 'DouBan',
                        type: 'scatter',
                        data: [],   // 数据初始化时为空，后续动态加载
                        symbolSize: 8
                    },
                    // IMDB 电影数据
                    {
                        name: 'IMDB',
                        type: 'scatter',
                        data: [],   // 数据初始化时为空，后续动态加载
                        symbolSize: 8
                    }
                ]
            };
            // 初始化配置项
            myChart.setOption(option);

            // 声明数据数组变量
            var doubanData = [];
            var imdbData = [];

            /*
                ajax 实现 json 数据的导入与处理
             */
            // douban json 数据导入
            $.ajax({
                type : 'get',   // 获取方法
                url : 'json/doubaninfinity.json',   // 路径
                dataType : "json",    // 数据类型
                // 获取成功，对数据进行处理
                success : function(result){
                    // 声明变量
                    var doubanName = [];
                    var doubanRating = [];
                    var doubanRank = []
                    // 提取数组中的每一个元素的 name, rating, rank 分别存储
                    $.each(result, function(index, item){
                        doubanName.push(item.name);
                        doubanRating.push(item.rating);
                        doubanRank.push(item.rank);
                    });
                    // 将数据封装成所需格式
                    // key: name
                    // value: [rating, rank]
                    for (var i = 0; i <result.length; i++){
                        doubanData.push({name: doubanName[i], value: [doubanRating[i], doubanRank[i]]})
                    }
                    // console.log() 验证格式
                    // console.log(doubanData);
                    // 隐藏加载效果，完成数据配置
                    myChart.hideLoading();
                    myChart.setOption({
                        series : [ {
                            name: 'DouBan',
                            data: doubanData,
                        }]
                    });
                }
            })

            // imdb json 数据导入
            $.ajax({
                type : 'get',   // 获取方法
                url : 'json/imdbinfinity.json',   // 路径
                dataType : "json",    // 数据类型
                // 获取成功，对数据进行处理
                success : function(result){
                    // 声明变量
                    var imdbName = [];
                    var imdbRating = [];
                    var imdbRank = [];
                    // 提取数组中的每一个元素的 name, rating, rank 分别存储
                    $.each(result, function(index, item){
                        imdbName.push(item.name);
                        imdbRating.push(item.rating);
                        imdbRank.push(item.rank);
                    });
                    // 将数据封装成所需格式
                    // key: name
                    // value: [rating, rank]
                    for (var i = 0; i <result.length; i++){
                        imdbData.push({name: imdbName[i], value: [imdbRating[i], imdbRank[i]]})
                    }
                    // console.log() 验证格式
                    // console.log(imdbData);
                    // 隐藏加载效果，完成数据配置
                    myChart.hideLoading();
                    myChart.setOption({
                        series : [{
                            name: 'IMDB',
                            data : imdbData
                        }]
                    });
                }
            })

        }
        // 执行图表构建函数
        loadLocalDataAndShow();

    </script>

    <!-- id = "comparebymovietype" -->
    <script type="text/javascript">
        // 定义图表构建函数
        function loadLocalDataAndShow(){
            // 初始化echarts实例
            var chartDom = document.getElementById('comparebymovietype');
            var myChart = echarts.init(chartDom);
            var option;
            // 指定图表的配置项和数据
            option = {
                // 标题配置
                title: {
                    text: 'DouBan & IMDB 评分与热度对比图',
                    top: 20,
                    left:  "center",
                    textStyle: {
                        fontSize: 40,
                        color: '#FAFAD2'
                    }
                },
                // 数据集初始化
                dataset: {
                    source: [], // 初始化为空，后续动态加载
                },
                // 提示框组件配置
                tooltip: {
                    position: 'top',
                    // 自定义提示文本格式
                    formatter: function(data){
                        if(data.value[1][0] != "-")
                            return "DouBan: 类型---" + data.name + " | 平均评分---" + data.value[0] + " | 热度---"+ data.value[1];
                        else
                            return "IMDB: 类型---" + data.name + " | 平均评分---" + data.value[0] + " | 热度--"+ data.value[1];
                    },
                },
                // 坐标刻度
                grid: {containLabel: true},
                // 坐标轴配置
                xAxis: {
                    // name: '热度',
                    // nameLocation: 'middle',
                    // nameGap: 30,
                    // nameTextStyle: {
                    //     fontSize: 20,
                    //     color: '#87CEFA',
                    // },
                    axisLabel:{
                        textStyle:{
                            fontSize: 0
                        }
                    },
                },
                yAxis: {
                    type: 'category',
                    axisLabel:{
                        textStyle:{
                            fontSize: 15,
                            color: 'white'
                        }
                    },
                },
                // 视觉映射配置
                visualMap: {
                    orient: 'horizontal',   // 组件水平
                    left: 'center',
                    bottom: 50,
                    min: 7,
                    max: 9,      // 评分区间 0~10
                    text: ['9分', '7分'],
                    textStyle: {
                        color: ['#FFCE34'],
                        fontSize: 15,
                    },
                    // Map the score column to color
                    dimension: 0,
                    inRange: {      // 渐变色处理，高分红色，低分绿色
                        color: ['#19ffd0','#f5fd29', '#ff313e']
                    }
                },
                // 图表配置 -- 柱状图
                series: [{
                    type: 'bar',
                    // barWidth: 40,
                    encode: {
                        // x 轴 映射 热度
                        x: 'popularity',
                        // y 轴 映射 影片类型
                        y: 'movietype'
                    }
                }]
            };
            // 初始化配置项
            myChart.setOption(option);

            // 声明数据数组变量
            var ratingData = [];

            /*
                ajax 实现 json 数据的导入与处理
            */
            // json 数据导入
            $.ajax({
                type : 'get',     // 获取方法
                url : 'json/compare.json',   // 路径
                dataType : "json",    // 数据类型
                // 获取成功，对数据进行处理
                success : function(result){
                    // 存入数据源头信息
                    ratingData.push(['rating', 'popularity', 'movietype']);
                    // 提取每个元素的 rating, popularity, movietype 分别存储
                    $.each(result, function(index, item){
                        ratingData.push([item.rating, item.popularity, item.movietype]);
                    });
                    // console.log() 验证格式
                    // console.log(ratingData);
                    // 隐藏加载效果，完成数据配置
                    myChart.hideLoading();
                    myChart.setOption({
                        dataset: {
                            source: ratingData
                        }
                    });
                }
            })
        }
        // 执行图表构建函数
        loadLocalDataAndShow();

    </script>

    <!-- id = "genrewordcloud" -->
    <script type="text/javascript">
        var chartDom = document.getElementById('wordcloud');
        var myChart = echarts.init(chartDom);

        var option = {
            // 标题配置
            title: {
                text: '中外观众品味差异显著的影片类型',
                top: 30,
                left:  "center",
                textStyle: {
                    fontSize: 30,
                    color: '#FAFAD2'
                }
            },
            tooltip: {},
            backgroundColor: "rgba(24,20,50,1)",
            series: [{
                type: 'wordCloud',  // 类型--词云
                gridSize: 2,
                sizeRange: [40, 100],       // 大小区间
                rotationRange: [-90, 90],   // 旋转角度区间
                shape: 'circle',
                drawOutOfBound: true,
                textStyle: {
                    // 随机生成词云
                    color: function () {
                        return 'rgb(' + [
                            Math.floor((Math.random()*96)+160),
                            Math.floor((Math.random()*96)+160),
                            Math.floor((Math.random()*96)+160)
                        ].join(',') + ')';
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: [
                    {
                        name : "Action",
                        value : 1266
                    },
                    {
                        name : "Adventure",
                        value : 1469
                    },
                    {
                        name : "Animation",
                        value : 657
                    },
                    {
                        name : "Biography",
                        value : 248
                    },
                    {
                        name : "Comedy",
                        value : 692
                    },
                    {
                        name : "Crime",
                        value : 484
                    },
                    {
                        name : "Drama",
                        value : 1530
                    },
                    {
                        name : "Family",
                        value : 443
                    },
                    {
                        name : "Fantasy",
                        value : 938
                    },
                    {
                        name : "Film_noir",
                        value : 10
                    },
                    {
                        name : "History",
                        value : 155
                    },
                    {
                        name : "Horror",
                        value : 360
                    },
                    {
                        name : "Music",
                        value : 111
                    },
                    {
                        name : "Musical",
                        value : 84
                    },
                    {
                        name : "Mystery",
                        value : 393
                    },
                    {
                        name : "Romance",
                        value : 747
                    },
                    {
                        name : "Sci_fi",
                        value : 411
                    },
                    {
                        name : "Sport",
                        value : 137
                    },
                    {
                        name : "Thriller",
                        value : 944
                    },
                    {
                        name : "War",
                        value : 117
                    },
                    {
                        name : "Western",
                        value : 43
                    }
                ]

            }]
        };
        // 执行图表构建函数
        myChart.setOption(option);
    </script>

</body>
</html>