<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OneMovieRatingCompare</title>
  <script src="js/jquery.min.js"></script>
  <script src="js/echarts.js"></script>
  <style type="text/css">
    html{
      height: 100%;
      margin: 0;
    }
    body{
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: rgba(24,20,50,1);
    }
    #top250rating{
      height: 100%;
      margin: 0;
    }
  </style>
</head>
<body>
<div id="main" style="width: 100%;height: 100%;"></div>
<script type="text/javascript">
  var chartDom = document.getElementById('main');
  var myChart = echarts.init(chartDom);
  var option;

  option = {
    title: {
      text: 'Rating Comparation',
      textStyle: {
        fontSize: 30,
        color: '#4169E1'
      }
    },
    backgroundColor: "rgba(24,20,50,1)",
    color: ['#67F9D8', '#F08080'],
    legend: {
      data: ['douban', 'imdb'],
      orient: 'vertical',
      x:'right',
      y:'top',
      padding: [20, 20, 0, 0],
      itemWidth: 40,
      itemHeight: 20,
      textStyle: {
        color: "rgba(255, 255, 255, 1)",
        fontSize: '15'
      }
    },
    radar: {
      // shape: 'circle',
      indicator: [
        { name: '5', },
        { name: '4', },
        { name: '3', },
        { name: '2', },
        { name: '1', },
      ],
      name: {
        textStyle: {
          fontSize: "20",
          color: '#87CEFA',
          backgroundColor: 'darkblue',
          borderRadius: 90,
          padding: [5, 10]
        }
      },
      center: ["50%", "55%"],
    },
    series: [{
      type: 'radar',
      data: [
        {
          value: [0.04, 0.04, 0.12, 0.3, 0.50],
          name: 'douban',
          color: 'yellow',
          label: {
            color: "white",
            show: true,
            formatter: function (params) {
              return params.value;
            }
          }
        },
        {
          value: [0.07, 0.07, 0.02, 0.3, 0.6],
          name: 'imdb',
          color: "green",
          label: {
            color: "white",
            show: true,
            formatter: function (params) {
              return params.value;
            }
          }
        }
      ],
      areaStyle: {
        color: new echarts.graphic.RadialGradient(0.1, 0.6, 1, [
          {
            color: 'rgba(20, 255, 200, 0.5)',
            offset: 0
          },
          {
            color: 'rgba(255, 100, 100, 0.5)',
            offset: 1
          }
        ])
      }
    }]
  };

  option && myChart.setOption(option);

</script>
</body>
</html>